<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_enfermeria_root"
                  name="Enfermería"
                  web_icon="enfermeria,static/description/icon.png"
                  sequence="25"
                  groups="enfermeria.group_enfermeria_user,enfermeria.group_enfermeria_manager"/>

        <menuitem id="menu_enfermeria_accidentes"
                  name="Incidentes"
                  parent="menu_enfermeria_root"
                  action="enfermeria_accidente_action"
                  sequence="10"
                  groups="enfermeria.group_enfermeria_user,enfermeria.group_enfermeria_manager"/>
    </data>
</odoo>
